* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  /* scrollbar-width: thin;
  scroll-behavior: smooth; */
}

@font-face {
  font-family: "roboto";
  src: url("./fonts/roboto/Roboto-VariableFont_wdth\,wght.ttf")
    format("truetype");
}

/* header  */

.header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 8vh;
  
}

.header-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5%;
  width: 40%;
}

.header-nav a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.header-nav a:hover {
  color: #4ec6ab;
}

.heading-mart span {
  color: #4ec6ab;
  font-weight: 1000;
}

.heading-mart h1 {
  font-weight: 500;
}

.cart {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  justify-content: space-between;
  width: 7%;
}

.search-icon img {
  width: 15px;
  height: 15px;
}

.cart-icon img {
  width: 25px;
  height: 25px;
}

/* section -1 */

.section-1 {
  background-image: url(./images/sec-1.png);
  height: 80vh;
  /* width: 100vw; */
  background-repeat: no-repeat;
  background-size: cover;
}

.section-1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-1 .content {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 50px;
}

.section-1 span {
  color: #4ec6ab;
}

.section-1 .buy-now {
  border: 2px solid #4ec6ab;
  padding: 2% 5%;
  font-size: 20px;
}

/* section-2  */
.section-2 {
  display: flex;
  flex-direction: row;
  max-width: 70%;
  height: 50vh;
  align-items: center;
  justify-self: center;
  gap: 50px;
}

.section-2 .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 60%;
}

.section-2 .icon-heading {
  font-weight: bolder;
  margin: 2vh;
  width: 12vw;
  padding-top: 15%;
}

.section-2 img {
  width: 50px;
  height: 50px;
}
.section-2 .content:hover .icon img,
.section-2 .content:hover .icon-heading {
  filter: brightness(0) saturate(100%) invert(75%) sepia(20%) saturate(900%)
    hue-rotate(120deg);
}

.section-2 .content:hover p {
  color: black;
}

/* section-3 */

.section-3 {
  background-color: #e9f0ff;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.section-3 .heading {
  height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.section-3 .bar {
  width: 120px;
  height: 12px;
  background: linear-gradient(
    to bottom,
    #4ec6ab 0%,
    #4ec6ab 17%,
    transparent 15%,
    transparent 25%,
    #4ec6ab 25%,
    #4ec6ab 75%,
    transparent 75%,
    transparent 80%,
    #4ec6ab 80%,
    #4ec6ab 100%
  );
}

.section-3 .all-images {
  display: flex;
  width: 70vw;
  flex-wrap: wrap;
  margin-top: -8%;
  justify-content: space-around;
}

.section-3 img {
  margin-bottom: -3%;
}
.section-3 .image-description {
  display: flex;

  color: white;
  font-weight: bolder;
}

.section-3 .img-and-details:hover  .image-name,
.section-3 .img-and-details:hover  .image-rate {
  border: 2px solid rgb(255, 255, 255);
  background-color: #4ec6ab;
}
.section-3 .image-name {
  background-color: #333333;
  height: 4vh;
  align-content: center;
  width: 80%;
  padding: 1%;
}
.section-3 .image-rate {
  background-color: #8e8e8e;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* overlay starts here */
.section-3 .images {
  position: relative;
}

.section-3 .overlay {
  position: absolute;
  background-color: rgb(0, 0, 0, 0.5);
  top: 3%;
  bottom: 1%;
  right: 3%;
  left: 3%;
  opacity: 0;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section-3 .overlay-icons {
  display: flex;
  gap: 4px;
}
.section-3 .add-to-cart {
  border: 2px solid rgb(255, 255, 255);
  background-color: #8e8e8e;
  max-width: 75%;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  display: flex;
  color: white;
  gap: 10px;
}
.section-3 .add-to-cart-icon img {
  width: 40px;
  height: 40px;
  filter: brightness(0) invert(1);
}
.section-3 .overlay-icons img {
  border: 2px solid white;
  padding: 8px;
  width: 51px;
  height: 50px;
  filter: brightness(0) invert(1);
}

.section-3 .overlay:hover {
  opacity: 1;
}
.section-3 .overlay-icons .overlay-icons-a:hover {
  background-color: #4ec6ab;
}

.add-to-cart:hover {
  background-color: #4ec6ab;
}

/* overlay ends here  */
* h1 {
  font-size: 40px;
  margin-bottom: -5px;
}

/* section-4  */

.section-4 .bar {
  width: 120px;
  height: 12px;
  background: linear-gradient(
    to bottom,
    #4ec6ab 0%,
    #4ec6ab 17%,
    transparent 17%,
    transparent 25%,
    #4ec6ab 25%,
    #4ec6ab 75%,
    transparent 75%,
    transparent 80%,
    #4ec6ab 80%,
    #4ec6ab 100%
  );
}
.section-4 {
  display: flex;
  flex-direction: column;
  margin-bottom: 5%;
  width: 100%;
}
.section-4 .heading-1 p {
  font-size: 25px;
  font-weight: 900;
}

.section-4 .heading-1 {
  height: 10vh;
  margin: 40px 10px 0px 0px;
  margin-bottom: -20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

/* part-2  */
.section-4 .heading-2 {
  display: flex;
  height: 15vh;
  gap: 1%;

  justify-content: center;
  align-items: center;
  margin: 30px 0px;
}

.section-4 .heading-2 .all {
  position: relative;
}
.section-4 .heading-2 .all:hover  {
    background-color: #4ec6ab;
   
}
.section-4 .heading-2 .all:hover span{
    opacity: 1  ;
}

.section-4 .heading-2 span {
  position: relative;
  height: 13vh;
  padding: 10px 15px;
  border: 2px solid #4ec6ab;
  border-radius: 50%;
  top: -30px;
  left: 10px;
  opacity: 0;
  z-index: -1;
}

.section-4 .heading-2 .all {
  border: 2px solid #4ec6ab;
  padding: 5px;
  display: flex;
}



/* part-3  */

.section-4 .all-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  margin-left: 10%;
  gap: 3%;
}
.section-4 .img-and-details {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 1.5% 0%;
  align-items: center;
}
.section-4 .image1 {
      position: relative; 
      display: inline-block;
    }

.section-4    .image1 img {
      width: 250px; 
      display: block;
    }

.section-4    .new-tag, .sale-tag {
      position: absolute;
      top: 5px; 
      background: white;
      border: 1px solid gray;
      padding: 3px 10px;
      font-size: 14px;
      font-weight: bold;
    }

.section-4   .new-tag {
      left: 5px; 
    }

.section-4   .sale-tag {
      right: 5px;
    }
.section-4 img {
  margin-bottom: -3%;
}
.section-4 .image-description {
  display: flex;
  width: 100%;
  color: white;
  font-weight: bolder;
}
 .section-4 .img-and-details:hover .image-name,
 .section-4 .img-and-details:hover .image-rate {
    background-color: #4ec6ab;
}

.section-4 .image-name {
  background-color: #333333;
  height: 4vh;
  align-content: center;
  width: 80%;
  padding: 1%;
}
.section-4 .image-rate {
  background-color: #8e8e8e;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* overlay starts here */
.section-4 .images {
  position: relative;
}

.section-4 .overlay {
  position: absolute;
  background-color: rgb(0, 0, 0, 0.5);
  top: 3%;
  bottom: 2%;
  right: 3%;
  left: 3%;
  opacity: 0;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section-4 .overlay-icons {
  display: flex;
  gap: 5px;

}
.section-4 .add-to-cart {
  border: 2px solid white;
  max-width: 90%;
  background-color: #8e8e8e;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  display: flex;
  color: white;
  gap: 10px;
}
.section-4 .add-to-cart-icon img {
  width: 40px;
  height: 40px;
  filter: brightness(0) invert(1);
}
.section-4 .overlay-icons img {
  border: 2px solid white;
  padding: 8px;
  width: 51px;
  height: 50px;
  filter: brightness(0) invert(1);
}

.section-4 .overlay:hover {
  opacity: 1;
 
}
.section-4 .overlay-icons .overlay-icons-a:hover {
  background-color: #4ec6ab;
  
}

.add-to-cart:hover {
  background-color: #4ec6ab;

}

/* section-5  */
.section-5 {
  background-image: url(./images/end\ of\ sale.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  height: 50vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section-5 h1 {
  font-size: 70px;
}

.section-5 p {
  font-size: 40px;
}

/* section-3 */

.section-6 {
  background-color: #e9f0ff;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.section-6 .heading {
  height: 8vh;
  display: flex;
  margin-top: -8px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.section-6 .bar {
  width: 120px;
  height: 12px;
  background: linear-gradient(
    to bottom,
    #4ec6ab 0%,
    #4ec6ab 17%,
    transparent 17%,
    transparent 25%,
    #4ec6ab 25%,
    #4ec6ab 75%,
    transparent 75%,
    transparent 80%,
    #4ec6ab 80%,
    #4ec6ab 100%
  );
}

.section-6 .all-images {
  display: flex;
  width: 70vw;
  flex-wrap: wrap;
  margin-top: -8%;
  justify-content: space-around;
}

.section-6 img {
  margin-bottom: -3%;
}
.section-6 .image-description {
  display: flex;

  color: white;
  font-weight: bolder;
}

.section-6 .all-images :hover .image-name ,
.section-6 .all-images :hover .image-rate {
  border: 2px solid rgb(255, 255, 255);
  background-color: #4ec6ab;
}
.section-6 .image-name {
  background-color: #333333;
  height: 4vh;
  align-content: center;
  width: 80%;
  padding: 1%;
}
.section-6 .image-rate {
  background-color: #8e8e8e;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* overlay starts here */
.section-6 .images {
  position: relative;
}

.section-6 .overlay {
  position: absolute;
  background-color: rgb(0, 0, 0, 0.5);
  top: 3%;
  bottom: 0;
  right: 3%;
  left: 3%;
  opacity: 0;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section-6 .overlay-icons {
  display: flex;
  gap: 5px;
}
.section-6 .add-to-cart {
  border: 2px solid white;
  max-width: 90%;
  background-color: #8e8e8e;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  display: flex;
  color: white;
  gap: 10px;
}
.section-6 .add-to-cart-icon img {
  width: 40px;
  height: 40px;
  filter: brightness(0) invert(1);
}
.section-6 .overlay-icons img {
  border: 2px solid white;
  padding: 8px;
  width: 51px;
  height: 50px;
  filter: brightness(0) invert(1);
}

.section-6 .overlay:hover {
  opacity: 1;
}
.section-6 .overlay-icons .overlay-icons-a:hover {
  background-color: #4ec6ab;
}

.add-to-cart:hover {
  background-color: #4ec6ab;
}

/* overlay ends here  */

/* section-7  */
.section-7-heading {
  display: flex;
  flex-direction: column;
  margin: 5%;
  height: 70px;
  align-items: center;
  justify-content: space-between;
}
.section-7 .bar {
  width: 120px;
  height: 12px;
  background: linear-gradient(
    to bottom,
    #4ec6ab 0%,
    #4ec6ab 17%,
    transparent 17%,
    transparent 25%,
    #4ec6ab 25%,
    #4ec6ab 75%,
    transparent 75%,
    transparent 80%,
    #4ec6ab 80%,
    #4ec6ab 100%
  );
}
.section-7 .customer-image img {
  width: 275px;
  height: 275px;
  border-radius: 50%;
}

.section-7 .content .small-face img {
  width: 100px;
  height: 100px;
  border: 5px solid black;
  border-radius: 50%;
}
.section-7 .content .small-face img:hover {
  border: 5px solid #4ec6ab;
  transform:scale(0.9);
}
.section-7 .content .customer-review p {
  color: #494747;
  max-width: 800px;
  text-align: center;
}
.section-7 .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 80vh;
}
.section-7 .content .customer-name .cap-p {
  color: #4ec6ab;
}
.section-7 .content .customer-name {
  text-align: center;
}

/* section-8  */
.section-8 {
  background-image: url(./images/green\ back.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 60px 0px 0px 0px;
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: column;

  align-items: center;
}
.section-8 h1 {
  font-size: xx-large;
}
.section-8 .bar {
  width: 120px;
  height: 12px;

  background: linear-gradient(
    to bottom,
    #ffffff 0%,
    #ffffff 17%,
    transparent 17%,
    transparent 29%,
    #ffffff 25%,
    #ffffff 75%,
    transparent 75%,
    transparent 80%,
    #ffffff 80%,
    #ffffff 100%
  );
}

.section-8-heading {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 9vh;
  margin: 7% 5% 2% 5%;
  align-items: center;
}

.section-8 .content {
  position: relative;
}
.section-8 .content input {
  width: 30vw;
  height: 50px;
  padding-left: 4%;
  margin-left: 1%;
  border: 2px solid white;
  color: #494747;
}
.section-8 .content img {
  position: absolute;
  border-color: white;
  top: 1.7px;
  padding: 0px 10px;
  right: -2.5px;
  width: 20%;
  
  height: 6.1vh;
  background-color: #4ec6ab;
  border: 0.5px solid #4ec6ab;
  border-bottom: 1px;
  border-radius: 5%;
}
.section-8 input::placeholder {
  color: black;
}
.section-8-mid-content {
  color: white;
  margin: 0% 5% 3% 5%;
}

/* section-9  */
.section-9 {
  background-color: #e9f0ff;
  height: 55vh;
}
.section-9 .bar {
  width: 120px;
  height: 12px;
  background: linear-gradient(
    to bottom,
    #4ec6ab 0%,
    #4ec6ab 19%,
    transparent 15%,
    transparent 25%,
    #4ec6ab 25%,
    #4ec6ab 75%,
    transparent 75%,
    transparent 80%,
    #4ec6ab 80%,
    #4ec6ab 100%
  );
}
.section-9-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 25vh;
  gap: 12%;
}
.section-9 .image {
  margin-left: 5%;
  display: flex;

  justify-content: center;
}
.section-9 .image img {
  border: 2px solid #4ec6ab;
  height: 105%;
  width: 85%;
}

/* section-10  */

.section-10 {
  height: 90vh;
  margin-bottom: 50px;
}

.section-10 .bar {
  width: 120px;
  margin-top: 1%;
  height: 12px;
  background: linear-gradient(
    to bottom,
    #4ec6ab 0%,
    #4ec6ab 20%,
    transparent 15%,
    transparent 25%,
    #4ec6ab 25%,
    #4ec6ab 75%,
    transparent 75%,
    transparent 80%,
    #4ec6ab 80%,
    #4ec6ab 100%
  );
}
.section-10-heading {
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section-10-content {
  display: flex;
  justify-content: center;
}

.section-10 .image-part2 {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  text-align: start;
  width: 25%;
}

.section-10 .img-hr hr {
  width: 40%;
  height: 3px;
  background-color: black;
}

.section-10 .img-hr img {
  width: 22vw;
}
.section-10 .img-hr {
  display: flex;
  height: 45vh;
  justify-content: space-around;
  flex-direction: column;
  text-align: start;
  width: 90%;
}

.section-10 .content-readmore {
  display: flex;
  height: 14vh;
  flex-direction: column;
  text-align: start;
  width: 90%;
  justify-content: space-around;
}
.section-10 .content-readmore button {
  width: 130px;
  height: 40px;
  border-radius: 2%;
  background-color: #4ec6ab;
  color: white;
  border: 1px solid;
}

/* section-11  */

.section-11 {
  background-image: url(./images/worldmap.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  height: 90vh;
}
.section-11 .bar {
  width: 120px;
  margin-top: 1%;
  height: 12px;
  background: linear-gradient(
    to bottom,
    #4ec6ab 0%,
    #4ec6ab 20%,
    transparent 15%,
    transparent 25%,
    #4ec6ab 25%,
    #4ec6ab 75%,
    transparent 75%,
    transparent 80%,
    #4ec6ab 80%,
    #4ec6ab 100%
  );
}

.section-11-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0px;
}

.section-11-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  max-width: 1000px;
  margin: auto;
}
.section-11 .content span {
  color: #4ec6ab;
}
.section-11 .content-part1 {
  display: flex;
  flex-direction: column;
  padding: 10px 0px;
  gap: 15px;
}
.section-11 .content-part2 {
  display: flex;
  flex-direction: column;
  padding: 10px 0px;
  gap: 15px;
}
.section-11 .contact-info {
  display: flex;
  flex-direction: column;
  padding: 10px 0px;
  gap: 15px;
}

.section-11 .social img {
  width: 50px;
  height: 50px;
  padding: 2%;
  filter: brightness(0) invert(1);
  border: 2px solid white;
}
.section-11 .social img:hover {
  background-color: #4ec6ab;
  filter: brightness(1) invert(0);
}
.section-11 .input-boxes input {
  background-color: transparent;
  padding: 10px;
  width: 45%;
  height: 5vh;
  border: 2px solid white;
  color: white;
}
.section-11 .input-boxes textarea {
  height: 35%;
  padding: 3%;
  background-color: transparent;
  border: 2px solid white;
}
.section-11 .input-boxes button {
  width: 150px;
  height: 50px;
  background-color: #4ec6ab;
  color: white;
}

.section-11 .text1 {
  display: flex;
  justify-content: space-between;
  margin: 5% 0%;
}
.section-11 .text2 {
  display: flex;
  justify-content: space-between;
}
.section-11 .input-boxes {
  display: flex;
  flex-direction: column;
  gap: 5%;
}

.input-boxes .textBox:hover {
  border-color: #4ec6ab;
}
.textBox:hover::placeholder {
  color: #4ec6ab;
}
/* section-12  */
.section-12 {
  background-color: black;
  color: white;
  text-align: center;

  height: 10vh;
}
.section-12 span {
  color: #4ec6ab;
}
.section-12 p {
  padding: 2%;
}
input::placeholder,
textarea::placeholder {
  color: white;
}
